<!-- <app-home></app-home> -->
<!-- <app-assignment1> -->
<h1 class="myname">Shubham</h1>
<h2>{{title}}</h2>
<h3>{{name}}</h3>
<!-- //{{}} is called as interpolation -->
<button (click)="togglename()">toggle name</button>
<h1>{{student.name}} is from class {{student.class}}</h1>
<h5 *ngIf="showArray">{{arr}}</h5>
<button (click)="togglearray()">toggle array</button>
<!-- <h1></h1> -->
<ul>
  <li>{{arr[0]}}</li>
  <li>{{arr[1]}}</li>
  <li>{{arr[2]}}</li>
  <li>{{arr[3]}}</li>
  <li>{{obj.name}}</li>
</ul>

<ul>
  <li *ngFor="let x of arr;let i = index">{{x}}=={{i}}</li>
</ul>

<table>
  <thead>
    <th>
      Sr.no
    </th>
    <th>
      name
    </th>
    <th>
      employee id
    </th>
    <th>
      salary
    </th>
  </thead>
  <tbody>
    <tr *ngFor="let e of employees;let i=index">
      
    </tr>
  </tbody>
</table>

<ul *ngIf="" clas="flowers">
  <li *ngFor="let f of flowers"> 
    <p>{{f}}</p>
  </li>
</ul>

<div>
  <table>
    <thead>
      <th>Sr. No</th>
      <th> Name</th>
      <th>No of States</th>
    </thead>
    <tbody>
      <tr *ngFor="let c of countries; let i = index">
        <td>{{i+1}}</td>
        <td>{{c.name}}</td>
        <td>{{c.numberOfStates}}</td>
      </tr>
    </tbody>
  </table>
</div>

<br>
<div>
  <input type="text" [(ngModel)]="myField">
</div>
<div>
  <h2>{{myField}}</h2>
</div>

<h1>Shubham</h1>
<router-outlet></router-outlet>